.app-header {
  background-color: lightblue;
  color: white;
  padding: 1.3rem 1.5rem;
  /*text-align: left;*/
  /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  display: flex;
}

.app-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.header-actions button {
  background-color: white;
  color: lightblue;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.header-actions button:hover {
  background-color: #e6f0ff;
}